[user]
	name = jtcleek
	email = me@jtcleek.com
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true

; Machine specific configuration. Needs to be at EOF.
[include]
	path = .gitconfig_local
